@{
    ViewData["Title"] = "Home Page";
}

<p><a href="@Url.Action("ListadoPersonas", "Home")">Ir a listado de Personas</a></p>
<p><a href="@Url.Action("ListadoDepartamentos","Home")">Ir a listado de Departamentos</a></p>
<p><a href="@Url.Action("EditarPersonas","Home")">Ir a editar Personas</a></p>
