@model List<ENT.clsPersona>


<h1>LISTADO DE PERSONAS</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach(var persona in Model){
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
            </tr>
            }
        
    </tbody>
</table>

<p><a href="@Url.Action("Index","Home")">Volver al Index</a></p>